body{
  background: $white;
}
.head-inner,
.main-inner{
  max-width: 1000px;
  margin: 0 auto;
}
/* header */
.head{
  width: 100%;
  position: relative;
  z-index: 1;
  color: $brown;
  &.fix-on{
    height: 150px;
    position: fixed;
    background-image: url("../img/deco-nav.png");
    background-size: contain;
    background-repeat: repeat;
    background-position-x: 30px;
    color: $white;
    a{
      color: $white;
    }
  }
  a{
    color: $brown;
  }
  &__logo{
    &.fix-on{
      margin-top: 10px;
      position: static;
      transform: none;
      font-size: 2rem;
    }
    position: absolute;
    top: 94px;
    left: 50%;
    font-size: 4.2rem;
    transform: translateX(-50%);
  }
  &__info{
    height: 46px;
    margin-right: 20px;
    justify-content: flex-end;
  }
  &__nav{
    &.fix-on{
      top: 20px;
    }
    position: relative;
    top: 140px;
  }
}
/* main */
.main{
  width: 100%;
  position: absolute;
  top: 290px;
}
/* footer */
.foot{
  margin-bottom: 12px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  color: $brown;
  small{
    font-size: 1.2rem;
  }
}